.background {
  .background-color: #123;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text {
  color: #000;
}
.error {
  color: red;
  font-weight: red;
}
